
<div class="flex my-10 mx-4 justify-between">
    <h1 class="font-black text-3xl">List of users</h1>
    <input (change)="searchUsers()" [(ngModel)]="search" placeholder="Search..." type="search" class="input input-bordered">
</div>

<!-- <button (click)="show()"  #load class="btn btn-sm btn-primary my-4">Load</button> -->


@defer(on idle) {
    <app-list-github [users]="users"></app-list-github>
}
@placeholder {
   <app-skeleton-card></app-skeleton-card>
}
@loading(minimum 2s) {
<app-loading></app-loading>
}
@error {
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>Error! loading data is failed!!!</span>
    </div>
}
